.header-navbar {
  &__btn {
    display: none;
  }

  &__list {
    display: grid;
    justify-content: end;

    margin: 0 -20px 0 0;
    padding: 0;

    list-style: none;

    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    display: block;

    padding: 10px;

    transition: color 0.5s;

    font-size: 1.125rem;

    &:hover,
    &:focus {
      color: #d66926;
    }
  }
}
